 <div class="container">
  <span class="pi pi-arrow-circle-left text-2xl lg:text-4xl transition-colors transition-duration-500 hover:text-purple-400" (click)="goBack()"> Go back</span>
  <app-data-title title="{{getCountryName()}}"></app-data-title>
  <div class="row">
    <app-medals-info name="Number of Entries" info="{{getNbOfEntries()}}"></app-medals-info>
    <app-medals-info name="Number of Medals" info="{{getNbOfMedals()}}"></app-medals-info>
    <app-medals-info name="Number of Athletes" info="{{getNbOfAthletes()}}"></app-medals-info>
  </div>
  <div class="bottom">
    <p-chart type="line" [data]="basicData" [style]="{'width': '100%'}"></p-chart> 
  </div>
</div>