<div class="container">
    <button class="button" (click)="goBack()"> Go back</button>
    <div class="title">
      <h1>{{getCountryName()}}</h1>
    </div>
    <div class="row">
      <div class="col">
        <p>Number of Entries</p>
        <p> <b> {{getNbOfEntries()}} </b></p>
    </div>
      <div class="col">
        <p>Number of Medals</p>
        <p> <b> {{getNbOfMedals()}} </b> </p>
    </div>
      <div class="col">
        <p>Number of Athletes</p>
        <p> <b> {{getNbOfAthletes()}} </b> </p>
  
      </div>
    </div>
    <div class="bottom">
      <p-chart type="line" [data]="basicData" [style]="{'width': '100%'}"></p-chart> 
    </div>
  </div>