.container {
  margin: auto;
  width: 100%;
}

// .title {
//   text-align: center;
//   background-color: #0D98BA;
//   color: white; 
//   border-radius: 15px;
// }

.row {
  display: flex;
}

.col {
  flex: 1;
  border: 2px solid #0D98BA; 
  text-align: center;
  border-radius: 25px;
  margin: 5px;
}

.bottom {
  text-align: right;
  margin-top: 20px;
 
}

@media (max-width: 600px) {
  .row {
    flex-direction: column;
  }
}