<div class="container">
    <div class="title">
      <h1>Medals per country</h1>
    </div>
    <div class="row">
      <div class="col">
        <p> Number of JOs</p>
        <p> <b> {{numberOfJOs}} </b> </p>
      </div>
      <div class="col">
        <p> Number of countries</p>
        <p><b> {{numberOfCountries}} </b> </p>
      </div>
    </div>
    <div class="bottom">
      <p-chart type="pie" [data]="data"  (onDataSelect)="onSelect($event)" [options]="options"></p-chart>
    </div>
  
  </div>